/* Header.css */

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
}

.header-item {
    width: 33%;
    margin: auto;
}

.title {
    border-right: 1px solid black;
}
